
.Javascript .section-w-1153{
    display: block;
    height: 100%;
    width: 1200px;
    padding: 80px 95px;

}
.header-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.array>img .Fundamental>img, .project>img, .make>img{
    width: 260px;
    height: 198px;
    border-radius: 12px;
}
.author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.array>h5{
    padding-top: 25px;
    padding-bottom: 75px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: capitalize;
    color: #2B2C34;

}
.author span{
    font-weight: bold;
    font-size: 18px;
}
.author p{
    flex-direction: column;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #2B2C34;
    line-height: 100%;
    text-transform: capitalize;
}
.list-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}
.Fundamental>h5{
    padding-top: 45px;
    padding-bottom: 75px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: capitalize;
    color: #2B2C34;

}
.project>h5{
    padding-top: 5px;
    padding-bottom: 75px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: capitalize;
    color: #2B2C34;
}

.make>h5{
    padding-top: 25px;
    padding-bottom: 75px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: capitalize;
    color: #2B2C34;
}

